@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

#conviajes {
  width: 28rem;
}

#viajes {
  background-color: deepskyblue;
  width: 100%;
}

#condestino {
  width: 27rem;
}

#destino {
  background-color: deepskyblue;
  width: 100%;
}

#conruta {
  width: 27rem;
}

#ruta {
  background-color: deepskyblue;
  width: 100%;
}

#navbarw {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

#navbarw a:hover {
  color: yellow;
}

i {
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#iconosfooter i {
  font-size: 30px;
  margin-right: 10px;
  color: white;
}

.Tituloamarillo{
  color: yellow;
  text-decoration: underline;
}